@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto+Slab&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Core Styles **/

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background: black;
}

p ul {
  list-style: disc;
  margin-left: 1rem;
}

p ul li {
  list-style-type: disc;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p a {
  text-decoration: underline;
}

/** Fixes **/
body > section > .NavItem__border {
  display: none;
}

/** Custom Utilities **/

.section-marker[id] {
  margin-top: -150px;
  padding-top: 150px;
}

@screen lg {
  .section-marker[id] {
    margin-top: -100px;
    padding-top: 100px;
  }

  section {
    scroll-margin-top: 100px;
  }
}

@layer utilities {
  @variants responsive {
    .scroll-snap {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scrollbar-width: none; /* Firefox */
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .no-scroll-snap {
      overflow-x: hidden;
      scroll-snap-type: none;
    }

    .snap-aligncenter {
      scroll-snap-align: center;
    }

    .scroll-snap::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }
}

@layer utilities {
  @variants responsive {
    .aspect-ratio {
      @apply block relative w-full;
    }

    .aspect-ratio-1\:1 {
      padding-top: 100%;
    }

    .aspect-ratio-4\:3 {
      padding-top: 75%;
    }

    .aspect-ratio-4\:5 {
      padding-top: 125%;
    }

    .aspect-ratio-16\:9 {
      padding-top: 56.25%;
    }

    .aspect-ratio-none {
      padding-top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .aspect-ratio:not(.aspect-ratio-none) > img,
  .aspect-ratio:not(.aspect-ratio-none) > .aspect-ratio-child {
    @apply absolute top-0 left-0 w-full h-full object-cover;
  }
}

.cls-1 {
  stroke: #5e5e5e;
  stroke-dasharray: 0 100;
  opacity: 0;
  animation: dash 4s ease-in forwards, fadeIn 0.4s linear forwards;
}
.cls-1,
.cls-2 {
  stroke-miterlimit: 10;
}
.cls-2 {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 0 100;
  opacity: 0;
  animation: dash 1s ease-out forwards, fadeIn 0.1s linear forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes dash {
  to {
    stroke-dasharray: 100 0;
  }
}
