.Select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' width='531.74' height='460.5' viewBox='0 0 531.74 460.5' overflow='visible' enable-background='new 0 0 531.74 460.5' xml:space='preserve'%3E%3Cpolygon stroke='%23000000' fill='white' points='530.874,0.5 265.87,459.5 0.866,0.5 '/%3E%3C/svg%3E");
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: right center;
}
